body,
html {
  height: 100%;
  margin: 0; /* Remove default margin */
}

header {
  width: 100%;
  height: 100px;
  background: linear-gradient(225deg, rgba(235, 220, 4, 0.918) 0%, #75c02b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3.5em;
  color: #f4f4f4;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0.6; /* Adjust the flex-grow value */
  max-height: 75%; /* Adjust the max-height value */
  width: 100vw;
  overflow-y: scroll; /* Use scroll instead of auto */
  scrollbar-width: thin; /* Set a thin scrollbar */
}

/* Hide scrollbar for Firefox */
main {
  scrollbar-width: none;
}

/* Hide scrollbar for WebKit/Blink browsers */
main::-webkit-scrollbar {
  width: 0.5rem; /* Set a small width for WebKit/Blink browsers */
}

section {
  max-width: 100%;
  width: 100%;
  height: 60%;
}

.container .form-row,
.container .col-container,
.notlogged {
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box; /* Include padding and border in total width/height */
}

.notlogged {
  margin-top: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px; /* Add margin as per your requirement */
  padding: 10px; /* Add padding as per your requirement */
}

footer {
  width: 100%;
  height: 60px;
  background: linear-gradient(225deg, rgba(235, 220, 4, 0.918) 0%, #75c02b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute; /* Set the position to absolute */
  bottom: 0; /* Align the footer to the bottom */
}
