* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

header {
  width: 100%;
  height: 100px;
  background: linear-gradient(225deg, rgba(235, 220, 4, 0.918) 0%, #75c02b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

section {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
}

.table-container {
  max-height: 80vh;
  overflow-y: auto;
}

.table {
  width: 100%;
  margin: 0 auto;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table img {
  display: block;
  margin: 0 auto;
}

footer{
  width: 100%;
  height: 60px;
  background: linear-gradient(225deg, rgba(235, 220, 4, 0.918) 0%, #75c02b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
